body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
}
button{
    background-color: darkcyan;
    border-radius: 5px;
}